body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #17182A;
    margin: 0;
}

.dis {
    margin: 6.5px;    
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: none;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 3px 6px black;
    background-color: #6D6F86;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

fieldset {
    width: 300px;
    height: 560px;
    background-color: #3F4055;
    box-shadow: 0px 2px 13px #0006;
    border-radius: 20px;
    border: none;
    overflow: hidden;
    position: relative;
}

input {
    height: 90px;
    width: 340px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 2px 4px black;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 60px;
    color: white;
    margin: 10px;
}

#color {
    background-color: #3C3C4B;
}

@media (min-width: 1000px) {
  fieldset{
    width: 100px;
    height: 300px;
  }
}

.box {
    position: relative;
    width: 395px;
    height: 580px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #000000;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 3px 3px black;
  }
    
.box::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 700px;
    background: linear-gradient(#00ccff, #d500f9);
    animation: rotate 4s linear infinite;
  }
  
  @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
   
.calculator-screen.overflow {
    font-size: 40px;
}

.calculator-screen.overflow-more {
    font-size: 30px; 
}
